# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/

# Environment
.env
.env.*

# TypeScript cache
*.tsbuildinfo


didact-logs/

yalc.lock
yalc.sig
.yalc/